<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="true" version="3.1">
  <servlet>
    <servlet-name>MyPanda05</servlet-name>
    <servlet-class>tw.org.iii.Panda05</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyPanda05</servlet-name>
    <url-pattern>/Panda05.go</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Panda07</servlet-name>
    <servlet-class>tw.org.iii.Panda07</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Panda07</servlet-name>
    <url-pattern>/Panda07</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Panda08</servlet-name>
    <servlet-class>tw.org.iii.Panda08</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Panda08</servlet-name>
    <url-pattern>/Panda08</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Panda09</servlet-name>
    <servlet-class>tw.org.iii.Panda09</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Panda09</servlet-name>
    <url-pattern>/Panda09</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Panda10</servlet-name>
    <servlet-class>tw.org.iii.Panda10</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Panda10</servlet-name>
    <url-pattern>/Panda10</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Panda11</servlet-name>
    <servlet-class>tw.org.iii.Panda11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Panda11</servlet-name>
    <url-pattern>/Panda11</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Panda12</servlet-name>
    <servlet-class>tw.org.iii.Panda12</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Panda12</servlet-name>
    <url-pattern>/Panda12</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Panda13</servlet-name>
    <servlet-class>tw.org.iii.Panda13</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Panda13</servlet-name>
    <url-pattern>/Panda13</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Panda14</servlet-name>
    <servlet-class>tw.org.iii.Panda14</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Panda14</servlet-name>
    <url-pattern>/Panda14</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Panda15</servlet-name>
    <servlet-class>tw.org.iii.Panda15</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Panda15</servlet-name>
    <url-pattern>/Panda15</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Panda16</servlet-name>
    <servlet-class>tw.org.iii.Panda16</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Panda16</servlet-name>
    <url-pattern>/Panda16</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>檔案上傳目錄</description>
    <param-name>upload-path</param-name>
    <param-value>D:\eclipse\jee-neon\workspace\JavaWeb\WebContent\upload</param-value>
  </context-param>
  <context-param>
    <description>My Tepmplate</description>
    <param-name>template-path</param-name>
    <param-value>D:\eclipse\jee-neon\workspace\JavaWeb\WebContent\tempates</param-value>
  </context-param>
</web-app>